<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Вітаємо у фінансовому трекері!</h1>
        <p>Цей сервіс допоможе керувати вашими доходами та витратами.</p>
        <div style="display: flex; justify-content: center; flex-direction: column">
            <a href="/register">Реєстрація</a>
            <a href="/login">Авторизація</a>
            <a href="/info">Інформація</a>
        </div>
    </div>
</body>
</html>